img {

    width: 20%;
    height: 20%;
    border: 5px solid white;
}

@media screen and (max-width:990px) {

    img {

        width: 12rem;
        height: 12rem;
        border: 5px solid white;
    }


}