.main-navbar {
    width: 100%;
    height: 5rem;
    background-color: green;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
}

.brand {
    color: white;
    margin-left: 5%;
}

.brand span {
    color: red;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-items { /* Corrected class name */
    display: flex;
    gap: 1rem;
    margin-left: 0;
    padding: 0;
    margin-right: 5rem;
    list-style-type: none;
    text-transform: uppercase; /* Moved list-style-type here */
}

.navbar-icon {
    display: none;
}

@media screen and (max-width: 750px) {
    .navbar-icon {
        display: block;
        margin-right: 2rem;
        top: 2rem;
        cursor: pointer;
    }
    .menu-items {
        display: none; /* Changed from block to flex */
    }
}
